@using Juste_IFI_toi.Models
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2>Top des reatrds</h2>
        
        @{
            foreach (Retard retard in ViewBag.listRetards)
            {
                <div class="retard-block">
                    
                </div>
            }
        }
        
    </div>
</div>